<p>
    <span>Factory Method</span> es un patron de diseño creacional el cual permite que una super clase abstracta utilice un método de creación de objetos delegado a las sub clases que la heredan. Los objetos creados tienen una interfaz en común que al momento de ser implementada permite distintos comportamientos para asi poder tener distintos tipos de objetos (llamados productos en este patrón)
</p>

<p>
    El siguiente ejemplo implementa una fabrica de mensajes de dialogo de distintos tipos.
</p>

<button (click)="openNativeDialog()">Dialogo Nativo</button>
<button (click)="openSweetAlertDialog()">Dialogo SweetAlert</button>